* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	background-color: rgb(53, 73, 92);
}
.button {
	border: none;
	padding: 1em 2em;
	margin-right: 1em;
	color: #fff;
	font-size: 1.1em;
	border-radius: 0.5em;
	cursor: pointer;
}
.success {
	background-color: #0abe34;
}

.error {
	background-color: #e34c4f;
}
.warning {
	background-color: #e9bc10;
}
.info {
	background-color: #3496d9;
}

.popup {
	top: 3%;
	left: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #fffeff;
	display: flex;
	align-items: center;
	font-size: 1.5em;
	width: 500px;
	height: 60px;
	border-radius: 0.2em;
	font-weight: 500;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	cursor: pointer;
	z-index: 10;
}
.popup-error {
	top: 10%;
}
.popup-warning {
	top: 17%;
}
.popup-info {
	top: 24%;
}
.icon {
	padding: 1em;
	margin-right: 1em;
}
.text {
	flex-grow: 1;
}
.close {
	padding: 1em;
	color: gray;
}

.close:hover {
	color: #000;
}

.bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #0abe34;
}
.progress {
	animation: progress 5s linear forwards;
}
@keyframes progress {
	100% {
		width: 0;
	}
}

.success-icon {
	color: #0abe34;
}
.success-bar {
	background-color: #0abe34;
}

.error-icon {
	color: #e34c4f;
}
.error-bar {
	background-color: #e34c4f;
}
.warning-icon {
	color: #e9bc10;
}
.warning-bar {
	background-color: #e9bc10;
}
.info-icon {
	color: #3496d9;
}
.info-bar {
	background-color: #3496d9;
}

.show-popup {
	left: 40%;
}

@media (max-width: 768px) {
	body {
	}
	.buttons {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 5em;
	}
	.button {
		margin-bottom: 1em;
	}
	.popup {
		transform: scale(0.65);
	}
	.show-popup {
		left: -20%;
	}
} ;
